---
layout: default
---

<h1>
  {{ page.title }}
</h1>

{% if page.image %}
  <img src="{{ site.github.url }}/assets/img/{{ page.image }}">
{% endif %}

{% if page.unsplash %}
Image by: <a style="
background-color:black;
color:white;
text-decoration:none;
padding:4px 6px;
font-family:-apple-system, BlinkMacSystemFont, &quot;San Francisco&quot;, &quot;Helvetica Neue&quot;, Helvetica, Ubuntu, Roboto, Noto, &quot;Segoe UI&quot;, Arial, sans-serif;
font-size:12px;
font-weight:bold;
line-height:1.2;
display:inline-block;
border-radius:3px" 
href="https://unsplash.com/@{{ page.unsplash }}?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge" 
target="_blank" 
rel="noopener noreferrer" 
title="Download free do whatever you want high-resolution photos from {{ page.unsplash }}">
  <span style="display:inline-block;padding:2px 3px">
    <svg xmlns="http://www.w3.org/2000/svg" style="height:12px;width:auto;position:relative;vertical-align:middle;top:-2px;fill:white" viewBox="0 0 32 32">
      <title>unsplash-logo</title>
      <path d="M10 9V0h12v9H10zm12 5h10v18H0V14h10v9h12v-9z"></path>
    </svg>
  </span>
  <span style="display:inline-block;padding:2px 3px">{{ page.unsplash }}</span>
</a>
{% endif %}

{{ content }}

<span class="post-date">
  {{ site.data.settings.post_date_prefix }}
  {% assign d = page.date | date: "%-d"  %}
  {{ page.date | date: "%B" }}
  {% case d %}
    {% when '1' or '21' or '31' %}{{ d }}st
    {% when '2' or '22' %}{{ d }}nd
    {% when '3' or '23' %}{{ d }}rd
    {% else %}{{ d }}th{% endcase %},
  {{ page.date | date: "%Y" }}
  by
  {% if page.author %}
    {{ page.author }}
  {% else %}
    {{ site.author }}
  {% endif %}
</span>

{% include social-sharing.html %}

{% include related-posts.html %}

{% if site.data.settings.disqus.comments %}
  {% include disqus.html %}
{% endif %}
